body {
    margin-bottom: 50px;
}
/* Cart styles */
#cart {
    padding: 20px;
}

#cart-list {
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* Style for the cart items */
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #000;
}

.cart-item-img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.cart-item button {
    margin: 0 5px;
    padding: 5px 10px;
}


.total {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.button-container {
    margin-top: 20px;
    text-align: center;
}

#checkout-button, #continue-shopping-button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

/* Taskbar styles */
.taskbar {
    display: flex;
    align-items: center;
    background-color: #c0c0c0; /* Light gray color */
    height: 40px;
    padding: 0 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 2px solid #808080; /* Darker gray */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}

.start-menu {
    position: relative;
}

#start-button {
    background-color: #d3d3d3; /* Light gray */
    border: 1px solid #808080;
    padding: 5px 10px;
    cursor: pointer;
}

.start-menu-content {
    display: none; /* Hidden by default */
    position: absolute;
    bottom: 40px; /* Position above the taskbar */
    left: 0;
    background-color: #c0c0c0;
    border: 1px solid #808080;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.start-menu-content ul {
    list-style: none;
    padding: 5px 0;
    margin: 0;
}

.start-menu-content li {
    padding: 5px 10px;
}

.start-menu-content li:hover {
    background-color: #a0a0a0; /* Darker gray on hover */
}

.taskbar-items {
    margin-left: 20px; /* Space between start menu and taskbar items */
    color: black;
}

/* Show start menu on button click */
.show {
    display: block; /* Show when toggled */
}
