body {
    background-color: #c0c0c0; 
    font-family: 'Tahoma', sans-serif;
    display: flex;
    flex-direction: column;
}

#products {
    padding: 20px;
}

#product-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.product-card {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px; 
    border: 2px solid #000; 
}

.card {
    padding: 10px; 
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-bottom: 2px solid #000; 
}

.card-content {
    padding: 5px 0; 
}

.button-container {
    text-align: center;
    margin-top: auto;
}


button {
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #000;
    color: #fff;
}

#window {
    position: absolute;
    left: 20px; 
    top: 40px; 
    width: 200px;
}

.title-bar-text {
    margin-left: 250px; /* Move the text 60px to the right */
}



